<main>

    <h3>Set a new password</h3>
    <p>
        To set a new password, enter your email address below.
        <br>
         We will send you an email with the Reset Password link. 
         <br>
         Please set a new password within 10 minutes of recieving the mail.
    </p>

    <form action="/reset-password" method="POST">
        <input type="email" name="email" placeholder="Enter email" required>

        <% if (flash.error && flash.error.length > 0) { %>
        <div class="error-message">
            <i class="fas fa-exclamation-circle"></i>
            <%= flash.error %>            
            <span>Go to <a href="/sign-up">Sign Up</a> to create an account.</span>
        </div>
        <% } %>


        <input class="button" type="submit" value="Send mail">


    </form>

    <a href="/sign-in">Home</a>

</main>

<script>

    <% if (flash.success && flash.success.length > 0) { %>
        new Noty({
            type: 'success',
            theme: 'relax',
            text: '<%= flash.success %>',
            layout: 'topRight',
            timeout: 1500
        }).show();
    <% } %>

</script>