<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication System | Reset Password</title>

    <link rel="stylesheet" type="text/css" href="sign-up.css"></link>


</head>
<body>

    <main>

        <form action="/reset-password" method="POST">
            <input type="email" name="email" placeholder="enter email" required>

            <% if (flash.error && flash.error.length > 0) { %>
                <h5>
                    <%= flash.error %>
                    <p>Go to <a href="/sign-up">Sign Up</a></p>
                </h5>
                <% } %>
            
            <input class="button" type="submit" value="Send email">


        </form>

    </main>
    
</body>
</html>