<link rel="stylesheet" type="text/css" href="/css/sign-in.css">

<div class="login-form">

    <div class="google-auth">
        <span style="border-right: 1px white solid;"><i class="fab fa-google"></i></span>
        <span><a id="google-text" href="/auth/google">Continue with Google</a></span>
    </div>

    
    <div class="or">
        <hr>
        <span class="line-through">Or</span>
    </div>

    <div class="manual-auth">


        <form action="/create-session" method="POST">

            <input id="email_input" class="sign-in-input" type="email" name="email" placeholder="Email address"
                required>
            <input id="password_input" class="sign-in-input" type="password" name="password" placeholder="Password"
                required>


                <% if (flash.error && flash.error.length > 0) { %>
                    <div class="error-message">
                        <i class="fas fa-exclamation-circle"></i>
                        <%= flash.error %>
                        </div>
                    <% } %>


            <div class="sign-in-button">
                <input id="send_button" class="button" type="submit" value="Sign In">
            </div>

        </form>

        <div class="forgot-password">
            <a href='/recover-password'>Forgot password?</a>
        </div>
    </div>

    <div class="sign-up">
        <span>New here?</span>
        <span> <a href="/sign-up">Sign Up!</a></span>
    </div>

    <script>


        <% if (flash.success && flash.success.length > 0) { %>
            new Noty({
                type: 'success',
                theme: 'relax',
                text: '<%= flash.success %>',
                layout: 'topRight',
                timeout: 1500
            }).show();
        <% } %>

    </script>

</div>


