
<main>


    <h1>Sign up</h1>

    <form class="sign-up-form" action="/create-user" method="POST">
        <input type="text" name="name" placeholder="Your name" required>
        <input type="email" name="email" placeholder="Your email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirm_password" placeholder="Confirm password" required>

        <% if (flash.error && flash.error.length > 0) { %>
            <div class="error-message">
                <i class="fas fa-exclamation-circle"></i>
                <%= flash.error %>
                </div>
        <% } %>



        <input class="button" type="submit" value="Sign Up">
    </form>

    <div>Go to <a href="/sign-in">Sign in</a> page</div>


</main>