body{
    background-image: url("../images/bg-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

main{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 3px;
}

form{
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* padding: 30px; */
    border-radius: 3px;
}


.button{
    padding: 10px 15px;
    font-size: 1.2rem;
    background-color: #eabb33;
    border: none;
    border-radius: 3px;
    width: fit-content;
}

.button:hover{
    background-color: #f5d060;
    cursor: pointer;
}

.button:focus{
    outline: none;
}

input{
    border: none;
    border-bottom: 1px solid black;
    margin: 10px auto;
    padding-bottom: 3px;
    width: 100%;
    font-size: 1.2rem;
}

input:focus{
    border: none;
    outline: none;
    border-bottom: 1px solid blue;
}

.error-message{
    padding: 5px 0;
    color: red;
    font-size: 0.8rem;
}

a{
    color: green;
}