main{
    min-width: 400px;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.header span{
    font-size: 2rem;
    font-weight: bold;
}

.profile-info{
    width: 100%;
    font-size: 1.2;
    border-top: rgb(185, 176, 176) 1px solid;
    border-bottom: rgb(185, 176, 176) 1px solid;
    margin-bottom: 15px;
}




a{
    text-decoration: none;
    color: black;
}

#reset-button{
    margin-top: 20px;
    width: fit-content;
}

.reset span{
    font-size: bold;
    margin: 10px 0;
}

#reset-password-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
}

#reset-password-form input{
    padding: 5px;
    width: 250px;
}

#reset-password-form span{
    margin: 0;
}

/* Initially change password form is hidden */

.reset{
    display: none;
}